:root {
  /* Global Page Setup */
  --page-bg-color: #f7f5f0;
  --page-bg-color-highlight: #ffffff;
  --page-bg-color-shadow: #e4decd;
  --page-bg-color-dark: #A52A2A;
  --page-bg-color-dark-highlight: #d65c5c;
  --page-bg-color-dark-shadow: #511515;
  --page-bg-color-bold: #227BA8;
  --page-bg-color-bold-highlight: #55afdd;
  --page-bg-color-bold-shadow: #113e55;
  --page-bg-color-light: #E8C4B0;
  --page-bg-color-light-highlight: #ffffff;
  --page-bg-color-light-shadow: #e8c4b0;
  --page-font-color-dark: #000;
  --page-font-color: #231D17;
  --page-font-color-light: #f7f5f0;
  --page-link-color: #b81c29;
  --font-color-framing: color(#fff a(0.5));

  /* Boundries */
  --outer-padding-mobile: 5vw;
  --outer-padding-tablet: 4vw;
  --outer-padding-desktop: 2.5vw;
  --max-bleed-width: 100vw;
  --max-content-width: 71.25rem;
  --max-text-width: 45rem;

  /* Fluid Typograph */
  --base-rem: 16px;
  --font-size-min: 1.125rem;
  --font-size-mid: 1.3125rem;
  --font-size-max: 1.45rem;
  --line-height-min: 1.6;
  --line-height-mid: 1.75;
  --line-height-max: 2;
  --heading-height-min: 1.4rem;
  --heading-height-mid: 1.55rem;
  --heading-height-max: 1.7rem;
  --heading-height-add: 0.5rem;

  /* Media Queries */
  @custom-media --small-tablet-viewport (width >= 32rem);
  @custom-media --tablet-viewport (width >= 48rem);
  @custom-media --desktop-viewport (width >= 62rem);
}
